* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Euclid Circular B", sans-serif;
}

/* Login */

.login {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: row;
  min-height: 50vh;
  padding: 5rem;
}

.loginLogo {
  height: 5rem;
}

.loginH1 {
  color: #fa2d1d;
  margin: 1rem 0;
}

.loginLeftSide,
.loginRightSide {
  width: 50%;
  margin: 2rem;
}

.loginLeftSide {
  text-align: center;
}

.loginRightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username,
.password {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.username input,
.password input {
  width: 15rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
}

.loginButton {
  background-color: #e42816;
  color: white;
  box-shadow: 0 0 4px black inset;
  font-size: 1rem;
  padding: 0.5rem;
  width: 15rem;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.loginButton:hover {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 2px white;
}

/* Header */

.logo {
  margin: 1rem;
  height: 6rem;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style-type: none;
  margin: 2rem 0rem 0.5rem 0rem;
}

.homeLink {
  margin-left: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #e42816;
  font-weight: 500;
  background-color: transparent;
  border-style: solid solid none solid;
  border-width: 2px;
  border-radius: 5px 5px 0 0;
  border-color: #353535;
  padding: 0.5rem;
  font-size: 1.1rem;
  box-shadow: inset 0 0 3px #353535;
}

nav ul li a:hover {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 0.5px #e42816;
}

/* Home */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  height: 50vh;
}

.welcomeContainer {
  display: flex;
  flex-direction: row;
  padding: 0 5rem;
}

.welcomeH1 {
  color: #fa2d1d;
  font-size: 3rem;
  margin: 0.5rem;
}

.logo2 {
  height: 3rem;
  margin: 1rem;
}

.homeText {
  color: white;
  padding: 1rem 10rem;
  margin: 1rem;
}

/* AddProject */

.addProject {
  text-align: center;
}

.addProject h3 {
  color: #fa2d1d;
  font-size: 1.4rem;
  margin: 0 0 0.5rem 0;
}

.addProjectForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addProjectInputs {
  display: flex;
  flex-direction: row;
}

.projectNameInput,
.customerInput {
  display: flex;
  flex-direction: column;
}

.projectNameInput input,
.customerInput input {
  width: 14rem;
  height: 2rem;
  margin: 0 1rem;
}

.createProjectButton {
  background-color: #e42816;
  color: white;
  box-shadow: 0 0 4px black inset;
  font-size: 1rem;
  padding: 0.5rem;
  width: 9rem;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.createProjectButton:hover {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 2px white;
}

/* CustomersProjects */

.customersProjects {
  background-color: #353535;
  color: white;
  padding: 4rem 10rem;
}

.projectsH2 {
  color: #fa2d1d;
  margin: 0.8rem;
}

.projectBox {
  background-color: white;
  color: black;
  font-size: 1.2rem;
  padding: 0.6rem 1.5rem;
  margin: 0.8rem;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoButton {
  background-color: #e42816;
  color: white;
  box-shadow: 0 0 4px black inset;
  font-size: 1rem;
  padding: 0.5rem;
  width: 7rem;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.infoButton:hover {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 2px white;
}

.infoContainer {
  background-color: #353535;
  padding: 6rem;
}

/* ProjectInfo */

.projectInfo {
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 2px;
}

.projectInfo h3 {
  margin: 1rem;
}

.table,
.table td,
.table th {
  border: 2px solid black;
  border-collapse: collapse;
  margin: 1rem;
}

.table th {
  background-color: rgb(247, 217, 173);
}

.table td,
.table th {
  padding: 1rem;
}

/* Footer */

.footer {
  text-align: center;
  margin: 3rem;
}

.footer h2,
p {
  margin-bottom: 0.5rem;
}
