* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Euclid Circular B", sans-serif;
}

main {
  background-color: #353535;
  color: white;
  padding: 2rem;
  min-height: 45vh;
  display: flex;
  justify-content: center;
}

/* Login */

.login {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: row;
  min-height: 40vh;
  padding: 3rem;
}

.loginLogo {
  height: 5rem;
}

.loginH1 {
  color: #fa2d1d;
  margin: 1rem 0;
}

.loginLeftSide,
.loginRightSide {
  width: 50%;
  margin: 2rem;
}

.loginLeftSide {
  text-align: center;
}

.loginRightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username,
.password {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.username input,
.password input {
  width: 15rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
}

.loginButton {
  background-color: #e42816;
  color: white;
  box-shadow: 0 0 4px black inset;
  font-size: 1rem;
  padding: 0.5rem;
  width: 15rem;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.loginButton:hover {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 2px white;
}

/* Header */

.logo {
  margin: 1rem;
  height: 6rem;
}
nav {
  min-width: 518px;
}
nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style-type: none;
  margin: 2rem 0rem 0.5rem 0rem;
}

.homeLink {
  margin-left: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #e42816;
  font-weight: 500;
  background-color: transparent;
  border-style: solid solid none solid;
  border-width: 2px;
  border-radius: 5px 5px 0 0;
  border-color: #353535;
  padding: 0.5rem;
  font-size: 1.1rem;
  box-shadow: inset 0 0 3px #353535;
}

nav ul li a:hover {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 0.5px #e42816;
}

nav ul li a:active {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 0.5px #e42816;
  background-color: chartreuse;
}

/* Home */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  height: 50vh;
}

.welcomeContainer {
  display: flex;
  flex-direction: row;
  padding: 0 5rem;
}

.welcomeH1 {
  color: #fa2d1d;
  font-size: 3rem;
  margin: 0.5rem;
}

.logo2 {
  height: 3rem;
  margin: 1rem;
}

.homeText {
  color: white;
  padding: 1rem 10rem;
  margin: 1rem;
}

/* AddProject */

/* .addProject {
  text-align: center;
  position: relative;
} */

.addProject h3 {
  color: #fa2d1d;
  font-size: 1.4rem;
  margin: 0 0 1.7rem 0;
}

.createProjectForm {
  display: flex;
  flex-direction: column;
}

.createProjectLabels {
  display: inline-block;
  width: 8rem;
  text-align: left;
  font-size: 1.1rem;
  margin: 0.8rem 0;
}

.createProjectInputs {
  display: inline-block;
  width: 13rem;
  height: 1.8rem;
  text-align: left;
  font-size: 1rem;
  padding: 0.2rem;
}

/* .addProjectInputs {
  display: flex;
  flex-direction: column;
}

.essentials {
  display: flex;
}

.addProjInput {
  width: 10rem;
  height: 1.5rem;
}

.projDetailsContainer {
  max-width: 100vw;
  overflow: scroll;
  padding: 1rem;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  margin: 1rem;
}

.input-section {
  width: 14rem;
  height: 2rem;
  margin: 0 1rem;
}

.resetButton,
.addRowButton {
  width: 7rem;
  height: 2rem;
  background-color: white;
  color: #e42816;
  box-shadow: 0 0 4px black inset;
  font-size: 1rem;
  padding: 0.5rem;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem 1rem;
}

.resetButton:hover,
.addRowButton:hover {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 1px #e42816;
} */

.createProjectButton {
  background-color: #e42816;
  color: white;
  box-shadow: 0 0 4px black inset;
  font-size: 1rem;
  padding: 0.5rem;
  width: 9rem;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.createProjectButton:hover {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 2px white;
}

/* AddUser */

.addUserH3 {
  color: #fa2d1d;
  font-size: 1.4rem;
  margin: 0 0 1.7rem 1.5rem;
}

.createUserLabels {
  display: inline-block;
  width: 8rem;
  text-align: left;
  font-size: 1.1rem;
  margin: 0.8rem 1.5rem;
}

.createUserInputs {
  display: inline-block;
  width: 13rem;
  height: 1.8rem;
  text-align: left;
  font-size: 1rem;
  padding: 0.2rem;
}

.createUserButton {
  background-color: #e42816;
  color: white;
  box-shadow: 0 0 4px black inset;
  font-size: 1rem;
  padding: 0.5rem;
  width: 9rem;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1.5rem;
}

.createUserButton:hover {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 1px #e42816;
}

/* Search */

.searchContainer {
  width: 25rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.searchBy {
  width: 8rem;
  height: 2rem;
  padding: 0.3rem;
}

/* CustomersProjects */

.customersProjects {
  background-color: #353535;
  color: white;
  /*padding: 4rem 7rem;*/
  display: flex;
  flex-direction: column;
  position: relative;
}

.searchProjects {
  margin: 1rem;
}

.projectsH2 {
  color: #fa2d1d;
  margin: 0.8rem;
}
.cardsArea {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0;
}
.projectBox {
  background-color: white;
  color: black;
  font-size: 1.2rem;
  padding: 0.6rem 1.5rem;
  margin: 0.8rem;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
}

.editButton,
.delButton,
.infoButton {
  background-color: #e42816;
  color: white;
  box-shadow: 0 0 4px black inset;
  font-size: 1rem;
  padding: 0.5rem;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.1rem;
}

.editButton {
  width: 7rem;
  height: 4rem;
  margin: 1rem;
}

.editButton:hover {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 2px white;
}

.infoButton {
  width: 7rem;
}

.infoButton:hover {
  box-shadow: inset 0 0 6px white;
  text-shadow: 0 0 2px white;
}

/* ProjectInfo */

.infoContainer {
  background-color: #353535;
  padding: 2rem;
  position: relative;
}

.projectInfo {
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 2px;
  min-height: 50vh;
  overflow: auto;
}

.projectInfo h3 {
  margin: 1rem;
}

.table,
.table td,
.table th {
  border: 2px solid black;
  border-collapse: collapse;
  margin: 1rem;
}

.tableHead,
.tableBody {
  width: 40rem;
  overflow: scroll;
}

.table th {
  background-color: rgb(247, 217, 173);
}

.table td,
.table th {
  padding: 1rem;
}

/* Footer */

.footer {
  text-align: center;
  margin: 3rem;
}

.footer h2,
p {
  margin-bottom: 0.5rem;
}

/**** profile (by victor) ****/

.profileSheet {
  height: 40vh;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  min-width: 650px;
}
.profileHeader {
  background-color: rgb(27, 26, 26);
  height: 8vh;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.circleWrapper,
.profileImage {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  box-shadow: 0 0 10px #f7f5f4;
}

.circleWrapper {
  background-color: #e42816;
  background-color: #353535;
  width: 100px;
  height: 100px;

  bottom: -15px;
  left: 15px;
}
.profileImage {
  width: 85px;
  height: 85px;

  background-color: #e42816;
  background-color: #353535;
  background-color: rgb(249, 249, 249);

  color: #353535;
  color: rgb(249, 249, 249);
  color: #e42816;
}
.profileTitle {
  font-size: xx-large;
}
.profileContent {
  margin: 70px 15px;
  display: flex;
  flex-direction: column;
}

.profileBio {
  height: 50px;
}

.pwdSection {
  display: flex;
  flex-direction: column;
}
